@model Models.AllModel.ShopRequisitionModel
@{
    ViewBag.Title = "ShopProductSearch";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <div class="m-content">
        <div class="row">
            <div class="col-lg-12">

                <!--begin::Portlet-->
                <div class="m-portlet m-portlet--rounded" style="border: 1px solid crimson">

                    <div class="m-portlet__body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="m-portlet m-portlet--rounded" style="border: 1px solid darkgreen;">
                                    <div class="m-portlet__body">
                                        <form class="m-form m-form--fit">
                                            <div class="row">
                                                <div class="col-md-2"></div>
                                                <div class="col-md-4">
                                                    <div class="form-group m-form__group row">
                                                        <label class="col-5 col-form-label"><b>Shop Name#:</b></label>
                                                        <div class="col-7">
                                                            @if (ViewBag.ShopList != null)
                                                            {
                                                                @Html.DropDownListFor(model => model.ShopId, (IEnumerable<SelectListItem>) ViewBag.ShopList, "--Select Shop--", new {@class = "form-control m-input--air m-input--pill", @style = "width: 250px;"})

                                                            }
                                                            else
                                                            {
                                                                <div class="m-alert m-alert--outline alert alert-warning alert-dismissible fade show" role="alert">
                                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                                                                    <strong>Warning!</strong> Internet Connection Is Not Avaiable.
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group m-form__group row">
                                                        <label class="col-4 col-form-label"><b>Style Name#:</b></label>
                                                        <div class="col-7">
                                                            @Html.TextBoxFor(model => model.StyleName,  new {@class = "form-control m-input--air m-input--pill ", @placeholder="Type Product Style", @style = "width: 250px;"})
                                                        </div>
                                                        <div class="col-1">
                                                            <button type="button" id="shopProductSearch" class="btn btn-accent m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill" style="margin-left: -15px;"><i class="la la-search"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2"></div>
                                            </div>
                                        </form>
                                        <br />
                                        <div class="m-portlet m-portlet--rounded" style="border: 1px solid darkgreen;">
                                            <div class="m-portlet__head">
                                                <div class="m-portlet__head-caption">
                                                    <div class="m-portlet__head-title">
                                                        <span class="m-portlet__head-icon">
                                                            <i class="la la-thumb-tack"></i>
                                                        </span>
                                                        <h3 class="m-portlet__head-text">
                                                            All Product List
                                                        </h3>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="m-portlet__body">
                                                <div class="m-section__content">
                                                    <table class="table table-responsive-sm table-bordered m-table m-table--border-danger m-table--head-bg-primary table-hover " id="ShopProductStockList">
                                                        <thead>
                                                            <tr>
                                                                <th style="display: none">ItemId</th>
                                                                <th style="display: none">ProductId</th>
                                                                <th>BarCode</th>
                                                                <th>Name</th>
                                                                <th>Price</th>
                                                                <th>Stock</th>
                                                                <th>Category</th>
                                                                <th>Sub Category</th>

                                                            </tr>
                                                        </thead>
                                                        <tbody style="background-color: gainsboro" id="ShopProductStockListBody"></tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
                <!--end::Portlet-->
            </div>
        </div>
    </div>
</div>

<script>
    jQuery(document).ready(function () {
        $('#StyleName').focus();
        $('#shopProductSearch').on('click', function () {
            var shopId = $("#ShopId").val();
            var styleName =$("#StyleName").val().toLowerCase();
            if (shopId !== "" && styleName !== "") {
                $('#ShopProductStockList').DataTable().destroy();
                var url = '@DAL.DBManager.DatabaseConfiguration.WarehouseApi' + 'ShopToShopProductSearch?shopId=' + shopId + '&styleName=' + styleName;

                var table = $("#ShopProductStockList").dataTable({
                    processing: true,
                    ajax: { url: url, dataSrc: "" },
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    type: "GET",
                    columns: [
                        {
                            data: "barcode",
                            render: function(data, type, object) {
                                return "<p class ='barcode'>" +
                                    object.barcode +
                                    "</p>" +
                                    " <input type = 'hidden' class ='itemId' value = '" +
                                    object.itemId +
                                    "' />" +
                                    " <input type = 'hidden' class ='productId' value = '" +
                                    object.productId +
                                    "' />";

                            }
                        },
                        { data: "itemName" },
                        { data: "salePrice" },
                        { data: "quantity" },
                        { data: "category" },
                        { data: "subCategory" }
                    ]

                });
            } else {
                alert("Select Option!.");
                $("#StyleName").val("");
            }
           

        });


        @*$('#ShopId').on('change', function () {
            var shopId = $("#ShopId").val();
            $('#ShopProductStockList').DataTable().destroy();
            var url = '@DAL.DBManager.DatabaseConfiguration.WarehouseApi' + 'ShopToShopRequisition?shopId=' + shopId;
            var table = $("#ShopProductStockList").dataTable({
                processing: true,
                ajax: { url: url, dataSrc: "" },
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                type: "GET",
                columns: [
                    {
                        data: "barcode",
                        render: function(data, type, object) {
                            return "<p class ='barcode'>" +
                                object.barcode +
                                "</p>" +
                                " <input type = 'hidden' class ='itemId' value = '" +
                                object.itemId +
                                "' />" +
                                " <input type = 'hidden' class ='productId' value = '" +
                                object.productId +
                                "' />";

                        }
                    },
                    { data: "itemName" },
                    { data: "salePrice" },
                    { data: "quantity" },
                    { data: "category" },
                    { data: "subCategory" }
                ]

            });

        });*@
    });
</script>